body {
	background-color: #dda15e;
	text-transform: none;
	font-family: cursive;
	color: #fefae0;
	
}
h1, h2, p {
	text-align: center;
}

h4, ul {
	margin-left: 575px;
}

ol {
	margin-left: 225px;
	margin-right: 225px;
}

