body {
	background-image: url("repeat_image.jpeg");
	width: 630px;
	margin-left: 450px;
	margin-top: 0;
	margin-bottom: 0;
	font-family: "Courier New", monospace;
	color: white;
	
}

header {
	text-align: center;
}

main {
	text-align: center;
}

ul {
	list-style: none;
	text-align: center;
	margin-right: 30px;
}

header, nav, main{
	background-color: lightblue;
}

h1, h2, ul{
	margin-top: 0;
	margin-bottom: 0;
}

h1, h2{
	padding-top: 20px;
	padding-bottom: 20px;
}

.image{
	height: 500px;
}

p{
	font-size: 20px;
	margin-top: 0;
	font-weight: bold;
}